body {
    font-family: Open Sans;
    background: url('white_bground.jpg');
}

h1 {
    text-align: center;
    color:black;
}

#quiz {
    text-indent: 10px;
    display:none;
}

.button {
    border:4px solid;
    border-radius:5px;
    width: 40px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #DCDCDC;
    color: black;
    margin: 0 2px 0 2px;
}

.button.active {
    background-color: #F8F8FF;
    color: #00ff2a;
}

button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}

#container {
    width:60%;
    margin:50px auto;
    padding: 0 25px 40px 10px;
    background-color: #16A085;
    border:4px solid rgb(0, 99, 69);
    border:4px solid rgb(0, 99, 69);
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 10px 15px 5px rgb(95, 87, 87);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}